.main-content {
  display: flex;
  flex-direction: column;
  width: 96%;
  padding: 2%;
}
.shopping-area {
  display: flex;
}
.product-list {
  width: 50%
}
.sum-area {
  border: 1px solid blue;
  width: 10%;
  padding: 1%;
  position: fixed;
  bottom: 26.5%;
  right: 6%;
  text-align: center;
}